# java-related-ignores
target
*.class
*.jar
*.war
*.nar
*.ear


# archive-related-ignores
*.zip
*.tar.gz
*.rar

# text/log-related-ignores
*.log
*.ctxt
*.txt

# IDE-related-ignores
.idea
.vscode

# put stuff you don't want to commit here
ignored/*
ignored*